.header {
    background-color: #f1f1f1;
    padding: 0.05%;
    text-align: center;
}

.logo {
    width: 8%;
    height: 8%;
    min-width: 100px;
    min-height: 100px;
}

.alpha {
    color: red;
    font-size: 50%;
    display: inline;
}

.subtitulo {
    font-size: 80%;
}

.titulo {
    font-size: 300%;
}

.tit-div {
    display: inline-flex;
    align-items: center;
    width: min-content;
}